/* styles */
/* called by your view template */

/* You might want to try something fancier: */
/* less: http://lesscss.org/ */
html {
  position: relative;
  min-height: 100%;
  min-width: 1000px;
}
body {
  padding: 0 0 100px; /* bottom = footer height */
}
footer{
  background-color: #e0e0e0;
  padding-top: 10px;
  padding-left: 100px;
  color: grey;
  border-top: solid;
  border-color: grey;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 70px;
  width: 100%;
  overflow:hidden;
}
header{
  background-color: black;
  box-shadow: inset 0px 0px 5px white;
  text-align : center;
  padding : 40px;
  color: white;
  text-shadow: 0px 0px 1px white;
}
.add-index{
  margin-top: 20px;
}
.axis path {
  fill: none;
  stroke: none;
}
.axis line {
  fill: none;
  stroke: lightgrey
}
.chart rect{
  fill: lightgrey;
  position: absolute;
  z-index: -1;
}
.hidden{
  display: none !important;
}
.inner{
  opacity: 1;
}
.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}
.my-tooltip{
  font-size: 10px;
}
.outer{
  opacity: 0.2;
}
.remove{
  float: right;
}
.remove:hover{
  opacity : 0.5;
}
.symbol{
  border-color : lightgrey;
  border-radius : 1%;
  padding: 20px;
  margin-top: 5px;
  box-shadow: 0px 0px 5px lightgrey;
  text-align: center;
}
.vert-line{
  opacity: 0;
}